<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

		<!-- Brand -->

		<a class="navbar-brand" href="#">Student Management System</a>

		<!-- Toggler/collapsibe Button -->

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">

			<span class="navbar-toggler-icon"></span>

		</button>

		<!-- Navbar links -->

		<div class="collapse navbar-collapse" id="collapsibleNavbar">

			<ul class="navbar-nav">
				

				<li class="nav-item"><a class="nav-link" th:href="@{/courses}">Course Details
					</a></li>

			</ul>


		</div>
	</nav>


	<div class="container">



		<div class="row">

			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">

				<div class="text-center" style="font-size: 30px;">Update
					Course</div>


				<div class="card-body"></div>

				<form th:action="@{/courses/edit/{courseid} (courseid=${studentcourse.courseid})}" th:object="${studentcourse}" method="post">

					<div class="form-group">

						<label>CourseName</label> <input type="text"
							name="coursename" class=" form-control" th:field="*{coursename}"
							placeholder="Enter CouseName" required="required">


					</div>

					<div class="form-group">

						<label>Course Credits</label> <input type="text"
							name="credits" class=" form-control" th:field="*{credits}"
							placeholder="Enter Course Credits" required="required">

					</div>

					

					<div class="box-footer">

						<button type="submit" class="btn btn-primary">Submit</button>

					</div>
			</div>
</body>
</html>